* {
  margin:0;
  padding: 0;
  border: none;
}

#head-div {
  width: 1300px;
  height: 523px;
  background-image: url(http://i.picasion.com/resize80/dcc52ec70977087b646311216c6ad73e.jpg);
}

#logo-blog-title {
  margin-top: 5px;
  margin-left: 200px;
}

#search {
  margin-right: 200px;
}

h1{
  font-size: 90px;
  color: white;
  font-family: 'Oswald', 'sans-serif';
  margin-top: 185px;
  font-weight: 400;
}

.main-header {
  text-align: center;
  vertical align: middle;
}

#search {
  display: inline-block;
  float: right;
}

p {
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
  font-family: Open-Sans;
}


#blog{
  display: inline-block;
  width: 809px;
  height: 1002px;
  border: solid;
  border-color: black;
}

section {
  display: inline-block;
  width: 1300px;
  margin: 0;
  padding: 0;
}

#sidebar {
  display: inline-block;
  width: 479px;
  height: 1002px;
  border: solid;
  border-color: black;
  float: right;
}


ul: {
  margin:0;
  padding: 0;
  width: 1300;
}

#pics li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

footer {
  width: 1300px;
  margin: 0;
}
#pic-row {
  width:1300px;
  margin: 0;
  padding: 0;
}

section div {
  display: inline-block;
}
